[2021-07-30 06:30] cbrnr opened #5 "Build wheels for ARM64 Mac"
Given that Apple has started switching all of their products to ARM64, I think it would be useful if we also provided corresponding wheels. According to [cibuildwheel's docs](https://github.com/pypa/cibuildwheel#cibuildwheel), this should work for Python 3.8+.

[2021-07-30 07:42] hoechenberger commented on #5
You may want to ask @dengemann for help, he's got one of those machines :)
I will have access to one by the end of August, too, and could help you build / test.

[2021-07-30 07:44] hoechenberger opened #6 "conda-forge package"
Hello @cbrnr, congrats to the public release!

Are you planning to have a package on `conda-forge` too? I can help you create it (or create it for you ;)). Just let me know!

[2021-07-30 07:53] cbrnr commented on #5
Thanks @hoechenberger, this is very much appreciated because I will probably not be able to test this myself. FWIW, if by "have access" you mean "get a MacBook M1", you might want to hold off until the fall where Apple is rumoured to release M1X/M2-based MacBook Pros (14" and 16")...

[2021-07-30 07:55] cbrnr commented on #6
Thanks @hoechenberger, if you have time to do it please go ahead! We can include the conda install command in our README once it's available.

[2021-07-30 08:00] hoechenberger commented on #5
Yep, I know, but @agramfort promised I'll get an M1 that's currently in use by an intern who won't need it anymore in a few weeks :) So – we already have this computer, it's not a new purchase. Thanks for the head-up anyway!

[2021-07-30 08:03] agramfort commented on #5
@cbrnr did you consider using numba instead of a c extension?

[2021-07-30 08:10] cbrnr commented on #5
@agramfort we tried Cython, which did not really speed things up a lot and in the end looked pretty much as C-like as the C source we now have. We didn't try Numba though AFAIK. We are planning to ship a pure Python implementation as a fallback (or manual) option, which we can try to speed up with Numba.

I guess you are asking because C extensions are generally a PITA? I agree, but at least the b

[2021-07-30 08:22] agramfort commented on #5
I am asking as shipping binaries for all platforms is a pain. If you only
put sources on pypi then you require windows users to have a compiler.

[2021-07-30 08:33] cbrnr commented on #5
put sources on pypi then you require windows users to have a compiler.

Yes, but the idea here is that we provide binary wheels for all platforms.

[2021-07-30 08:35] hoechenberger commented on #5
it will be extremely simple via conda-forge though :) and for Linux, there's manylinux if that matters, no?
I would just build and deploy for all platforms on the CI system -- that's how I do it with my MNE installers.

[2021-07-30 08:37] agramfort commented on #5
@hoechenberger not everybody uses conda and ask the sklearn maintainers what it takes to maintain binaries. Maybe a good watch with some advice on that matter https://www.youtube.com/watch?v=6a9D9WL6ZjQ

[2021-07-30 08:38] cbrnr commented on #5
@hoechenberger @agramfort that's exactly how we're already doing it for PyPI.

[2021-07-30 14:18] #5 closed

[2021-08-12 08:49] cbrnr opened #13 "LICENSE not included in sdist"
I noticed that our `LICENSE` is not included in the [source package](https://files.pythonhosted.org/packages/b7/a8/57a7960bbe7b7d4662173564ed05a311c9ade37d906af3ef8e47c0eef22a/sleepecg-0.2.0.tar.gz). However, when I build it locally with `python setup.py sdist`, this file is actually copied into the package. I suspect this is because the CI environment is using older versions of `setuptools` etc.,

[2021-08-12 09:07] cbrnr opened #14 "Tests should not use `_heartbeat_detection`"
The tests still import the C implementation directly. We should use the public function instead and perform the tests with all three backends.

This raises the additional question: how do I build the C extension locally?

[2021-08-15 19:04] hofaflo commented on #13
Right, your suspicion is confirmed by the `setuptools` [changelog](https://setuptools.readthedocs.io/en/latest/history.html#id33) and corresponding [PR](https://github.com/pypa/setuptools/pull/2620). Testing your suggestion locally with [act](https://github.com/nektos/act) lead to the license being included, so that'd be a good solution!

[2021-08-15 19:27] hofaflo commented on #14
I'm with you on performing tests on all backends. I'd keep the tests for type- and valuechecks of the C extension though, to make sure possible future updates don't mess something up there. We could [mark them](https://docs.pytest.org/en/6.2.x/example/markers.html#marking-test-functions-and-selecting-them-for-a-run), disable them by default and only run them if required?

For building the C extens

[2021-08-15 20:28] hofaflo opened #15 "Migrating to Python 3.8"
When we require [Python 3.8](https://docs.python.org/3/whatsnew/3.8.html) in the future, we can make use of the following updates:

- [ ] Assignment expressions
  - [ ] `io.utils._calculate_checksum`: replace `while True` / `if not chunk`

If you encounter situations for which Python 3.8 would allow a more elegant solution, please note them here.

[2021-08-15 20:33] hofaflo opened #16 "Migrating to Python 3.9"
When we require [Python 3.9](https://docs.python.org/3/whatsnew/3.9.html) in the future, we can make use of the following updates:

- [ ] [Type hinting generics](https://www.python.org/dev/peps/pep-0585/) (in every function expecting or returning e.g. a list, dict or tuple).

If you encounter situations for which Python 3.9 would allow a more elegant solution, please note them here.

[2021-08-16 07:00] #13 closed

[2021-08-16 07:00] cbrnr commented on #13
Nice, thanks for checking! I didn't know about `act`, this looks super useful.

[2021-08-16 07:04] cbrnr commented on #14
Of course, I didn't mean to imply that we should drop the C extension tests. However, we could use the public function with `backend='c'` to perform these tests (and then add tests for the other backends if necessary).

Thanks, I'll go with `pip install -e .[full]` then.

[2021-08-17 08:55] hoechenberger commented on #6
WIP:
https://github.com/conda-forge/staged-recipes/pull/15932

[2021-08-17 13:05] hofaflo commented on #14
#18 marks the module containing the C extension tests, so they can be excluded by calling `pytest -m "not c_extension"`.

[2021-08-17 14:15] #14 closed

[2021-08-18 08:57] hoechenberger commented on #6
Just FYI, the recipe has been merged, but there's currently a CI problem that prevents the packages from being built & deployed. Hopefully this will be resolved soon.

[2021-08-18 09:30] cbrnr commented on #6
Thanks @hoechenberger! Let us know when it is available and we can include a link in our `README.md`. Also, we will release 0.3 soon so you don't have to vendor `LICENSE` anymore (I guess this will require an update to the formula?).

[2021-08-18 10:06] hoechenberger commented on #6
That will be just a really tiny change, I'll take care of this once 0.3 has been released :)

[2021-08-20 11:03] hoechenberger commented on #6
The package is now available from conda-forge:

https://anaconda.org/conda-forge/sleepecg

Before doing an official announcement, we should probably ensure it actually works as intended 😅 I haven't tested the various "backends"; my understanding is that there's Python, numba, and C, right? They all SHOULD work but would be good to check

[2021-08-20 11:08] cbrnr commented on #6
Nice! You can test them with our tests. Do you have `numba` as a dependency or is it just optional? In any case, we fall back to pure Python if neither C nor Numba are available (so the order of preference is C -> Numba -> Python).

[2021-08-20 11:26] hoechenberger commented on #6
I included all optimal dependencies 😅 and linked the C module against NumPy
Are the tests included in the sdist?

I'm out for coffee, will have a look at this later today 💪

[2021-08-20 11:29] hofaflo commented on #6
Just ran the tests, seems to work, thanks @hoechenberger! :)

[2021-08-20 11:42] cbrnr commented on #6
Tests are not included in the sdist. It seems like we should just create a `MANIFEST.in` containing `*`.

[2021-08-20 11:49] hoechenberger commented on #6
@cbrnr sounds fair!

@hofaflo awesome, thanks! I think it's safe to announce the conda-forge package then!

[2021-08-20 12:18] cbrnr opened #25 "Add our detector to neurokit"
I know the package is still new, but I just did a Google search for "python ecg peak detection", and SleepECG doesn't show up in the first eight pages (we all know that no one ever goes to page 2). Any ideas on how we could increase our visibility? I think people should really be able to find SleepECG's Pan-Tompkins peak detector, because it is the best:tm: implementation available.

[2021-08-20 14:31] cbrnr commented on #6
Thanks @hoechenberger! If you have any idea how we can increase visibility, let us know at #25!

[2021-08-20 16:18] hofaflo commented on #25
It's on the top of [PyPI search results](https://pypi.org/search/?q=ecg+peak+detection&o=) though :D

Unrelated to heartbeat detection, but we could add `nsrr` to the tags (and maybe mention it in the readme), since we provide the only Python interface for sleepdata.org?

[2021-08-20 19:55] #6 closed

[2021-08-20 20:06] cbrnr commented on #25
🤯 - how come?

Yes, a section on which databases we can read from would be useful anyway. I'm not sure about that tag, I don't think that it is that common, and if we have it in our `README.md` I think this will be sufficient.

[2021-08-23 11:22] cbrnr opened #30 "Separate reader functions per database"
Currently, we have `read_mitbih()`, which reads two specific data sets from the MIT-BIH database: MITDB and LTDB. It would be useful to have a dedicated reader function for each database, i.e. `read_mitdb()` and `read_ltdb()` (both of which could use  a private version of `read_mitbih()` under the hood.

[2021-08-24 16:23] cbrnr opened #31 "Use ~/.sleepecg"
We should use `~/.sleepecg` to store various configuration values. For example, all downloaders should store their data in `~/.sleepecg/datasets` by default.

- [x] Datasets
- [x] Configuration

[2021-08-25 05:09] #30 closed

[2021-08-25 06:38] cbrnr opened #34 "Add missing files to sdist"
Now that we have a `MANIFEST.in`, we should add all missing files. I think these at least include everything in `doc` and `img`, but probably also `.github`. Anything else? I'd try to include every file under source control.

[2021-08-25 09:20] cbrnr commented on #25
A little post on my blog might also help – planned for September.

[2021-08-25 19:56] hofaflo opened #35 "Add functions for reading annotated sleep data"
The goal is to have functions which download and read all common polysomnography datasets. Each record will be stored in a dataclass containing heartbeat times and annotated sleep stages.

Each reader should be added via a separate PR, this issue gives an overview of the progress.

Datasets:
- [x] [MESA](https://sleepdata.org/datasets/mesa) (Multi-Ethnic Study of Atherosclerosis) #28
- [x] [SHHS](

[2021-09-21 00:01] DominiqueMakowski commented on #25
Just chiming in here after @cbrnr mentioned it to me on another issue. Great package and very promising performance indeed (and awesome benchmark stats :)

Another way to increase visibility and download of sleepecg's detector could be to enable its usage from other packages, such as [neurokit's](https://github.com/neuropsychology/NeuroKit). We could do that by adding a function [here](https://git

[2021-09-21 10:36] cbrnr commented on #25
Thanks @DominiqueMakowski! I think adding `sleepecg` as a soft dependency and adding a new option `method="sleepecg"` would be great! I can submit a PR if you want.

[2021-11-26 11:43] hofaflo opened #40 "Remove warning suppression in `_dummy_mesa_edf`"
[This](https://github.com/cbrnr/sleepecg/blob/main/sleepecg/test/test_sleep_readers.py#L26-L28) should be unnecesary once the issue is fixed upstream by holgern/pyedflib#151.

[2021-11-26 14:17] hofaflo commented on #31
Configuration implemented in #39, so this is done :)

[2021-11-26 14:17] #31 closed

[2021-12-01 16:01] cbrnr opened #44 "Add Python 3.10"
As discussed in #41, we need to wait for the following packages to provide binary wheels for Python 3.10:

- Numba (numba/numba#7562)
- PyEDFlib

[2021-12-01 16:02] cbrnr opened #45 "Check manylinux wheel duplication"
We are currently building `manylinux-2014` wheels, but in addition to those we also get `manylinux-1` wheels. Not sure if this is a bug, because the wheels seem to be identical.

[2021-12-01 16:35] cbrnr commented on #40
Fixed. I guess you would want to wait for their next release?

[2021-12-01 17:09] hofaflo commented on #40
Yep!

[2021-12-01 17:29] cbrnr commented on #40
OK! Maybe they even add Python 3.10 wheels.

[2021-12-12 19:47] hofaflo commented on #45
Resolved by #49

[2021-12-12 19:47] #45 closed

[2021-12-12 19:51] hofaflo commented on #44
Required changes:

- [ ] Add Python 3.10 classifier in `setup.cfg`
- [ ] Stop skipping `cp310-*` in `pyproject.toml`:`tool.cibuildwheel`

[2022-01-08 11:02] cbrnr opened #59 "Google search result for website points to a 404"
Google shows this URL when searching for "sleepecg": https://sleepecg.readthedocs.io/en/latest/generated/sleepecg.html

This page doesn't exist anymore. Any idea if this is a problem we can solve? The correct URL is https://sleepecg.readthedocs.io/en/stable/ BTW.

[2022-01-08 11:05] cbrnr opened #60 "Website links broken"
Links on the [documentation website](https://sleepecg.readthedocs.io/en/stable/) are currently broken (at least the way they are rendered):

<img width="776" alt="Screen Shot 2022-01-08 at 12 04 01" src="https://user-images.githubusercontent.com/4377312/148641772-03dab7ac-bdff-4fbe-866c-56638d50de2e.png">

[2022-01-08 11:08] hofaflo commented on #60
This is fixed by switching to MyST in #36, will be applied to `stable` with the next release.

[2022-01-08 11:51] cbrnr commented on #60
Then let's try to release early next week!

[2022-01-08 15:02] hofaflo commented on #59
Read the Docs allows to create [redirects](https://docs.readthedocs.io/en/stable/user-defined-redirects.html#page-redirects), so I set one up from `generated/sleepecg.html` to `index.html`. This took a few minutes to be applied, but seems to work now :)

Further optimization of the google results might be possible using the [Google Search Console](https://search.google.com/search-console). Verific

[2022-01-08 15:19] cbrnr commented on #59
Thanks @hofaflo! Do you know why Google had that URL? Did we use that before and then change it? If so, what change triggered the different URL?

[2022-01-08 16:09] hofaflo commented on #59
Since #55, the main readme doesn't link to the main page of the API reference (which was generated by autosummary) anymore, but to the doc overview page.

[2022-01-08 16:22] #59 closed

[2022-01-11 09:36] cbrnr commented on #60
@hofaflo do you want to include anything else in the release?

[2022-01-11 11:09] hofaflo commented on #60
no, that should be it :)

[2022-01-11 11:18] cbrnr commented on #60
Great! Feel free to cut the release then!

[2022-01-11 13:19] hofaflo commented on #60
done 🎉

[2022-01-11 13:19] #60 closed

[2022-01-14 07:13] cbrnr opened #67 "reader_dispatch doesn't yield any reader"
Maybe it's just me, but when I run `python benchmark_detectors.py runtime` in `examples/benchmark`, I do not get any records, i.e. the line `records = list(reader_dispatch(db_slug, data_dir))` yields an empty list. Is this caused by our recent changes in v0.4.0?

[2022-01-14 11:28] hofaflo commented on #67
Exactly, thanks for noticing! Fixed in #68

[2022-01-14 11:33] #67 closed

[2022-01-14 11:49] hofaflo commented on #44
Numba v0.55.0 is [released](https://github.com/numba/numba/releases/tag/0.55.0), so we'll just need to wait for pyEDFlib now.

[2022-01-14 11:51] cbrnr commented on #44
Nice! Yes, I am waiting really hard for that one...

[2022-01-20 20:25] cbrnr opened #73 "Formatting of readers in docs"
Should the readers in the first column on https://sleepecg.readthedocs.io/en/stable/datasets.html get formatted as code (i.e. enclosed in backticks)?

[2022-01-20 20:37] hofaflo commented on #73
Good question, the monospaced font would be nice but I'm not so sure about the color 😅

![image](https://user-images.githubusercontent.com/22592497/150417555-349aaed5-1aae-4e55-8b9f-18050970ee2e.png)

Now that I think about it, we could select a less striking color for inline code to avoid things like this:

![image](https://user-images.githubusercontent.com/22592497/150417947-14529aeb-b2ad-45c4-a

[2022-01-20 20:49] cbrnr commented on #73
Yes, that docstring looks messy. Maybe a grayish color?

[2022-01-21 11:30] hofaflo commented on #73
Like this?
![image](https://user-images.githubusercontent.com/22592497/150519818-160dbfaa-0182-444c-bcc5-4d2c6fa9f4a1.png)

[2022-01-21 13:04] cbrnr commented on #73
Bit hard to read, what about black? Also, why is the "optional" not pink anymore?

I also wonder if the theme we're using supports a dark mode, do you know?

[2022-01-21 13:05] cbrnr commented on #73
Regarding the colors, maybe function/class names should stay pink and monospaced text should be black? But this is probably not possible I assume.

[2022-01-21 19:43] hofaflo commented on #73
Black is better readable, yes!
![image](https://user-images.githubusercontent.com/22592497/150589453-b618a4c6-1894-4644-af2c-74c6d87b614e.png)

Dark mode looks like a [no(t yet)](https://github.com/pydata/pydata-sphinx-theme/issues/458)

The 'optional' changed together with the inline code, I couldn't find an option to prevent this in the default [theme.css](https://github.com/pydata/pydata-sphinx

[2022-01-21 19:47] cbrnr commented on #73
No objection, if you don't mind the missing top navbar I'd say let's do it! I assume the GitHub icon and the RTD version switcher still works?

[2022-01-21 19:57] hofaflo commented on #73
ad navbar: I think it's fine, I'd just put 'API' last as its the only element with a dropdown

ad GitHub: no, but the link could be in the left navigation bar ([example](https://pradyunsg.me/furo/))

ad version switcher: that should be part of RTD, so nothing to worry here

[2022-01-22 15:24] #73 closed

[2022-01-22 15:24] cbrnr commented on #73
Fixed in #74.

[2022-01-22 19:17] hofaflo commented on #44
closed by #75

[2022-01-22 19:17] #44 closed

[2022-01-22 20:43] #40 closed

[2022-01-25 07:46] cbrnr opened #79 "Quick release 0.4.2?"
@hofaflo should we make a quick v0.4.2 release so that we get Python 3.10 support and the new website design out there? The classification stuff will go into v0.5.0 then.

[2022-01-25 07:51] cbrnr commented on #79
Also, what is up with the conda package? It seems to be stuck at 0.4.0. Personally, I'd not mention any conda-related things here, because PyPI is the official method and everything works.

[2022-01-26 18:18] hofaflo commented on #79
ad release: I'd put everything into v0.5.0, but if you prefer we can make a v0.4.2

ad conda: looks like @hoechenberger fixed that (conda-forge/sleepecg-feedstock#4), thanks :)

[2022-01-26 19:04] cbrnr commented on #79
OK, let's do v0.5.0 then, shouldn't be too long.

[2022-01-26 19:04] #79 closed

[2022-03-07 05:57] chenxuesongTHU opened #80 "Publication on prediction performance"
Hi,
    I am so excited to see your wonderful work! Is there any release about the prediction performance of the ECG signals only or comparison with EEG signals?

Thanks a lot~

[2022-03-07 10:00] cbrnr commented on #80
Hi @chenxuesongTHU! Thank you for your interest in our work. We are currently still working on this evaluation. My plan is to also submit to a peer-reviewed journal eventually, but unfortunately I cannot tell you a timeframe right now.

[2022-03-22 20:20] LegrandNico commented on #25
Just jumping into this discussion a bit late, but it turns out that if SleepECG is "the best™️ implementation available" that would also be a nice update to [Systole](https://github.com/embodied-computation-group/systole) for the next release :pray:, I can add the dependencies and a new option as mentioned.
Great work on improving this algorithm!

[2022-03-22 21:08] cbrnr commented on #25
Sure, this would be great! It's the fastest implementation of a Pan-Tompkins detector available for Python to my knowledge - I wouldn't call it the best!

[2022-05-02 11:26] LegrandNico opened #87 "The function detect_heartbeats is not handling the absence of signal correctly"
The function `detect_heartbeats()` can be easily confused when presented with time series containing a flat signal e.g. at the beginning of the recording.

[code]

The problem is that the flat signal at the beginning or at the end of the time series is not discarded automatically. Of course, better performance is achieved by providing better quality data, but I think this is something that should

[2022-05-02 14:35] cbrnr commented on #87
Yes, this is a property of the Pan-Tompkins detector, which expects a heartbeat after a certain amount of time. I agree we should have some kind of (optional) preprocessing, which detects e.g. flat segments (which is relatively easy) and extremely noisy segments (which is probably hard). In such segments, no heartbeats should be detected. The thresholds of the detector should probably remain const

[2022-05-04 09:45] LegrandNico commented on #87
Yes, I think the classic Pan-Tompkins version implemented here should at least be fixed so that it does not run forever with signals like the one I shared, so skipping after a given number of thresholds could maybe solve this.

One solution could be to have an optional `mask` parameter for this function to discard peak detection in some segments. This mask could be used "while" Pan-Tompkins is run

[2022-05-12 22:05] raphaelvallat opened #88 "Add more tests for detect_heartbeats"
Hi @cbrnr and @hofaflo,

Really awesome work on this package! I have been using the [detect_heartbeats](https://sleepecg.readthedocs.io/en/stable/generated/sleepecg.detect_heartbeats.html) function as my default QRS detector in many projects, and I love it. It is super fast and robust.

This issue is related to https://github.com/cbrnr/sleepecg/issues/87. I think that the unit tests in [test_heart

[2022-05-17 18:42] cbrnr commented on #88
Hi @raphaelvallat! I think these are very interesting additional properties of the detector, and we should definitely include this somewhere. I'm just not sure if a unit test is the right place. It seems like if these are properties of the algorithm, there's no point in testing that in our test suite, because we will not be able to change that anyway. For example, it seems intuitive that the lower

[2022-05-17 18:45] cbrnr commented on #87
I agree something should be done to address these situations. I need to think a bit more about what the best solution would be. In addition, I do not have a lot of time to work on this at the moment, but if you would like to give it a shot please go ahead! I'm happy to discuss any details and questions of course, I just don't have time to actually implement something in the near future.

[2022-05-17 19:11] raphaelvallat commented on #88
Hi @cbrnr,

Absolutely, I think it would be great to have this explicit in the documentation, as I'm sure other people will be looking for these properties. As for unit testing, I guess that it only makes sense if at some point in the future you anticipate that there will be changes in the algorithm. Then, unit tests will ensure that the updates are not breaking these fundamental properties of the

[2022-05-18 05:39] cbrnr commented on #88
OK then, let's add it to the docs and tests. However, I wouldn't add the padding issue to the tests. We know that the algorithm cannot deal with flat segments, and this will hopefully be addressed in the future. So it is a known issue, and there's no use in testing for a known limitation that will get resolved.

[2022-05-19 00:58] raphaelvallat commented on #87
Hi,

Just adding my two cents here. From https://github.com/cbrnr/sleepecg/issues/88, I think that this issue is only true when the _beginning_ (not the end) of the data is flat. An easy way to check for the first non-flat sample in the ECG data is:

[code]

Not sure where we go from here: should we raise a warning/error or just continue with the calculation using the truncated array (`ecg[idx_non

[2022-05-19 07:02] cbrnr commented on #87
What about flat segments in the middle of the data? I always thought that the detector forcibly finds a heartbeat after a certain amount of time after the previous detection, no matter what the signal looks like. Is this not the case? Can you maybe show how it performs in the presence of flat segments at the beginning, in the middle, and at the end of the data? I think it would be important to kno

[2022-05-19 10:52] cbrnr commented on #88
Fixed by #89.

[2022-05-19 10:52] #88 closed

[2022-05-19 17:39] raphaelvallat commented on #87
- Flat data at the beginning: ❌
- Flat data in the middle: ❌
- Flat data at the end: ✅

[code]

[2022-05-20 09:34] cbrnr commented on #87
Here's what this looks like:
![Figure_1](https://user-images.githubusercontent.com/4377312/169499603-1d27b1c0-ee36-48c2-bbf4-17d44132273d.png)

Detection critically relies on the two thresholds. If these are bad, it takes a *long* time for the detector to recover. That's why padding afterwards works, padding in the middle works OK, and padding at the beginning doesn't work but eventually yields co

[2022-05-20 16:17] raphaelvallat commented on #87
Oh right, thanks for catching my mistake with the flat data in the middle. Of course we're expecting twice the number of peaks 🤦‍♂️

[2022-05-20 16:50] cbrnr commented on #87
Yes. It would be worth a shot.

[2022-06-13 10:34] cbrnr opened #93 "Fix type annotation issues"
I turned on basic type checking for the first time (didn't know that you had to opt in), and boy there are a lot of errors. Since we are using type annotations, we should definitely fix all the errors (otherwise why are we using annotations in the first place).

[2022-07-20 09:20] cbrnr opened #95 "Minor documentation website issues"
- [ ] All tables are centered in the latest version, but they should be left-aligned.
- [ ] Some function names are too long to fit into the sidebar API dropdown menu. Maybe there is a way to avoid this?

[2022-07-20 09:43] #15 closed

[2022-07-24 11:05] #95 closed

[2022-07-27 08:39] cbrnr opened #101 "MESA size"
The documentation contains different numbers describing the size of the MESA data set:

- https://sleepecg.readthedocs.io/en/latest/datasets.html says it contains 2056 annotated records.
- The table at the top of https://sleepecg.readthedocs.io/en/latest/classification.html says that 1970 MESA records were used to train the classifier.
- On the same page, the table in "Usage examples" says that 19

[2022-07-27 12:39] cbrnr opened #103 "Autosummary of public functions"
Currently, we list all functions and classes explicitly when generating our API docs, e.g.

[code]

However, these are our public objects (not starting with `_`), so is it not possible to tell the plugin to use all public functions so we don't have to list them explicitly?

[2022-07-31 19:24] hofaflo commented on #101
MESA contains 2056 records with sleep stage annotations, but heartbeat annotations are only available for 1971 of them. 1970 seems to be a typo.

[2022-07-31 19:29] hofaflo commented on #103
It is possible - we actually did this initially, but switched to a manual approach in #55.

[2022-07-31 19:48] cbrnr commented on #103
So what would change if we go back?

[2022-07-31 19:55] hofaflo commented on #103
The names would be longer, e.g. `sleepecg.heartbeats.detect_heartbeats` instead of `sleepecg.detect_heartbeats` and we would lose the ability to structure the API overview page.

[2022-07-31 20:05] cbrnr commented on #103
OK, then never mind. Maybe it's a good thing if we need to manually add a doc entry for any new public function.

[2022-07-31 20:05] #103 closed

[2022-08-01 07:27] #101 closed

[2022-08-01 08:34] #34 closed

[2022-08-01 09:19] cbrnr commented on #25
I'll close this here and let the package maintainers decide if they want to integrate our detector. We can then discuss in corresponding PRs in their repos.

[2022-08-01 09:19] #25 closed

[2022-08-01 09:20] cbrnr commented on #80
Closing because the question is answered. I'm preparing a publication about the package, and another one about sleep staging performance. If they are accepted I'll add them to the README.md.

[2022-08-01 09:20] #80 closed

[2022-08-02 17:17] cbrnr opened #108 "GUDB readers do not work anymore?"
It looks like GUDB is not accessible anymore, at least not without registration:

https://berndporr.github.io/ECG-GUDB/

Our reader errors out, e.g.

[code]

We might need to use the API provided by the `ecg-gudb-database` package.

[2022-08-02 17:29] cbrnr opened #109 "Cannot reproduce benchmarks"
I noticed some changes in our benchmarks when I tried to reproduce it with the latest versions:

### Runtime
![runtime](https://user-images.githubusercontent.com/4377312/182553318-acbe5aed-6caa-4a13-8bdf-03ef9d94f205.png)

### Metrics
![metrics](https://user-images.githubusercontent.com/4377312/182553389-5003cd6a-c0ba-45f2-b176-723045fdaff8.png)

### Similarity
![similarity](https://user-images.gi

[2022-08-02 17:41] berndporr commented on #108
[code]
There are a lot of jogging cases where there is no annotation. Been always like that. You need to check if there is an annotation.

[2022-08-02 17:58] berndporr commented on #108
https://github.com/berndporr/ECG-GUDB/blob/master/usage_example.py#L80
see the usage example.

[2022-08-02 18:03] berndporr commented on #109
How the Scot say here: "It wisnae me!"
There have been only minimal changes and the only substantial is actually a massive performance improvement for the WQRS detector which was written C style and now is using numpy slicing to the max. Been working on a new ECG detector benchmark called "JS" and noticed that WQRS always ran longest. Now similar to all the others.

[2022-08-02 18:08] berndporr commented on #108
Perhaps it's more a like "usage-regression". ;)

[2022-08-02 18:11] berndporr commented on #109
Actually just called "JA" but I think I should add the "!". ;) https://github.com/berndporr/JA-ECG-Benchmark

[2022-08-02 19:19] cbrnr commented on #109
I will try if I can get the old results with the older version. If so, then pretty surely there must have been more substantial changes that led to a massive performance degradation. Not sure if we are talking about the same detector, I am only referring to `ecgdetectors.Detectors(fs).pan_tompkins_detector(ecg)`.

[2022-08-02 19:20] cbrnr commented on #108
So are you saying that the direct download links are still available?

[2022-08-02 19:29] berndporr commented on #108
Of course. Nothing has changed for ages.

[2022-08-02 19:32] berndporr commented on #109
It's git isn't it? If you suspect pan tompkins has been messed up then just look at the commit history and tell me where it is and not some vague "there must have been substantial changes". As I said I had a look at the commit history and I cannot see any changes. Feel free to get back to me with something specific.

[2022-08-02 19:34] berndporr commented on #108
I can only repeat: look at the usage examples before you fire of unsubstantiated claims.

[2022-08-02 19:39] cbrnr commented on #109
No, I don't care. I thought you might want to know. That's all.

[2022-08-02 19:40] cbrnr commented on #108
Why are you so aggressive? I'm not making any claims, just asking questions.

[2022-08-02 19:46] berndporr commented on #108
Because people will read the heading of this issue and assume something is wrong with GUDB. How would you feel if I file a similar issue here for example "sleepecg seems to be no longer working". I'm sure I'll find a snag when trying to install it. What you are doing is trying to put the GUDB in disrepute which is not on.

[2022-08-02 19:49] berndporr commented on #109
ok

[2022-08-02 19:50] cbrnr commented on #108
Alright, this is getting ridiculous. Unless you apologize I am going to report this behavior. Did you even notice that this is my repository and not yours?

[2022-08-02 20:01] berndporr commented on #108
I have deleted my previous comment as it could have been misunderstood. Apologies for that.
Can I ask you to delete this issue as it simply contains a falsehood.
Thanks, B

[2022-08-02 20:03] cbrnr commented on #108
OK. This is an issue with our package, not with GUDB. I ran some tests and got the errors. I will close the issue once we have fixed it. I have renamed the issue to make it clear that this is *not* about GUDB.

[2022-08-02 20:55] hofaflo commented on #108
This has always been the case, `read_gudb` skips the records without annotations and [prints the HTTPError](https://github.com/cbrnr/sleepecg/blob/main/sleepecg/io/ecg_readers.py#L250-L251) raised because the file isn't available - which is admittedly not the most transparent way of handling this situation.

[2022-08-02 21:05] cbrnr commented on #108
OK cool, we should probably change that.

[2022-08-03 07:33] cbrnr commented on #109
It seems like more (all?) detectors are different from our original benchmark, so it's likely something that's changed on our side or in our dependencies.

[2022-08-03 07:54] #108 closed

[2022-08-03 09:10] cbrnr opened #111 "`sleepecg.read_gudb()` always downloads data"
Am I misunderstanding how our readers are supposed to work? I thought that datasets are only downloaded once if they are not available locally. However, it seems like this is not the case:

[code]

The docstring states:

[code]

It also seems like this only affects `sleepecg.read_gudb()`.

[2022-08-03 14:46] cbrnr commented on #109
I tried Python 3.8 and older versions of our dependencies (as specified in `requirements-benchmark.txt`) as well as previous versions of SleepECG (up to v0.3.0) – I cannot reproduce the benchmarks results in our docs.

[2022-08-03 21:05] cbrnr opened #113 "Require only detectors used in a benchmark run"
Currently, all detectors need to be installed even when running a benchmark with only one or two detectors. I think it would be better to soft-import detectors to avoid this.

[2022-08-05 12:14] #113 closed

[2022-08-08 12:26] #111 closed

[2022-08-08 13:18] cbrnr opened #115 "Add function (method) to plot ECG record"
It would be nice if a given `ECGRecord` could be plotted, e.g. with a `.plot()` method. If the record contains an `annotation` field, these should also be plotted. In addition, it should be possible to plot custom markers (e.g. detected heartbeats), resulting in something like this:
![Figure_1](https://user-images.githubusercontent.com/4377312/183427052-b32a6e9b-8233-4bf5-ba2e-0ada8aa80dd9.png)

(

[2022-08-09 15:56] cbrnr opened #117 "Automatically run examples in docs?"
I don't know if this is even possible, but it would be nice to run the examples in the docs automatically and include their output (e.g. figures, text output, ...) in the docs. Currently, this has to be done manually.

[2022-08-16 13:40] hofaflo commented on #109
When working on the benchmarks in #22, I limited the number of records to 25 to reduce runtime while debugging. As pointed out in [this comment](https://github.com/cbrnr/sleepecg/pull/22#issuecomment-902533198), the slicing operation stayed in for too long (removed in 30ed383), and apparently I missed to recreate the plots.

[2022-08-16 14:18] cbrnr commented on #109
Thanks, I will create new figures with all records.

[2022-08-16 14:18] #109 closed

[2022-08-18 06:23] #87 closed

[2022-09-30 13:59] dimzog opened #122 "Reading MESA edf file"
There seems to be an issue with

https://github.com/cbrnr/sleepecg/blob/61b15a8d03089db8afddcad341c8857a6f630756/sleepecg/io/sleep_readers.py#L653

There is no channel name 'ECG' in latest MESA release, do not know if there was before or when it was changed.

a list of current channel names is as follows
`['EKG',
 'EOG-L',
 'EOG-R',
 'EMG',
 'EEG1',
 'EEG2',
 'EEG3',
 'Pres',
 'Flow',
 'Snore',
 '

[2022-10-03 12:34] cbrnr commented on #122
Could you provide a minimal reproducible example please? I tried the following snippet, which worked without errors:

[code]

[2022-10-03 13:06] dimzog commented on #122
`
from mne.io import read_raw_edf

rec = read_raw_edf("PATH/TO/file.edf", verbose=False)
ecg = rec.get_data("ECG").ravel()
`

ValueError: picks ('ECG') could not be interpreted as channel names (no channel "['ECG']"), channel types (no type "ECG"), or a generic type (just "all" or "data")

[2022-10-03 13:25] dimzog commented on #122
I do not use sleepecg's readers, the issue is located in an inner function that reads HR data from the edf files.

https://github.com/cbrnr/sleepecg/blob/61b15a8d03089db8afddcad341c8857a6f630756/sleepecg/io/sleep_readers.py#L480-L682

This might worked for previous versions of MESA, but it does not now.
The aim of this issue was to bring this misbehavior to your notice.

[2022-10-03 13:36] #122 closed

[2022-10-23 20:16] hofaflo commented on #117
This would be nice, but e.g. the benchmarks take a really long time and don't change that often, so I think this would be overkill for the current state of the project.

[2022-10-24 07:49] cbrnr commented on #117
I agree. Sure we could exclude the benchmarks, but even then I don't think it is worth the effort right now.

[2022-11-14 14:49] cbrnr opened #127 "Some inconsistencies"
I was wondering why the following classes are not exported (i.e. part of `sleepecg/io/__init__.py` and therefore also in the API docs):

- `sleepecg.io.sleep_readers.Gender`
- `sleepecg.io.sleep_readers.SubjectData`

These are "public" classes, and should therefore be exported (or made "private" by appending an underscore).

Similarly, `sleepecg.io.gudb.GUDB_MD5` is "public" (but not exported), I

[2022-11-15 15:47] #115 closed

[2022-11-16 08:59] cbrnr opened #128 "Move `data_dir` parameter of `download_physionet()` to last position"
All reader and downloader functions have a `data_dir` parameter in the last spot. Only `download_physionet()` has this parameter in the first spot. We should streamline this and consistently use `data_dir` as the last parameter.

[2022-11-17 18:11] #128 closed

[2022-11-22 09:06] cbrnr opened #130 "Included pre-trained classifiers"
SleepECG currently includes three pre-trained classifiers trained on 1971 records (and tested on another 1000 records). However, when applying this classifier to unseen (new) data, would it not make sense to have it trained on all available records (i.e. 2971)? Of course we would not have a performance measure then, but we would have more information available for training.

What is the preferred

[2022-11-22 10:25] agramfort commented on #130
you should always have a test set to evaluate a model. Now maybe you dont need that many. In ML the models are often pretrained on the train set eg on image net and CIFAR. The train sets and pre specified

[2022-11-22 21:20] agramfort commented on #130
with deep learning you generally need a validation set for early stopping
the training so refitting on the full data without left out is considered
dangerous

[2022-11-25 08:05] #93 closed

[2022-11-25 08:25] cbrnr commented on #130
So for future classifiers we might consider using a larger train set (and a smaller test set, e.g. 100–500 records instead of 1000).

[2022-11-25 08:25] #130 closed

[2022-11-25 18:23] hofaflo commented on #127
I agree on all points!

[2022-11-25 19:00] hofaflo commented on #16
Since we started using `from __future__ import annotations` in #105, there isn't really much left to do here. I think we can close this issue - and if a situation arises where supporting 3.8 actually makes something difficult we can discuss again, WDYT @cbrnr?

[2022-11-25 22:22] cbrnr commented on #16
We could leave it open though to remind us to remove the future import once we move to 3.9. Or would we get some kind of info message from some linter?

[2022-11-26 10:46] hofaflo commented on #16
I was hoping mypy would say something, but apparently it doesn't :/ So yes, let's leave it open.

[2022-11-29 15:57] #127 closed

[2022-11-30 08:08] cbrnr opened #132 "How to deal with Numba?"
I am a bit unhappy that Numba is blocking our support for Python 3.11 (see #124). Since Numba is not a required dependency for us, would it be possible to still add Python 3.11 support but without Numba? What would we need to do to implement this (I'm sure we need to at least adapt our tests). Any suggestions @hofaflo?

[2022-11-30 10:46] cbrnr opened #133 "Remaining issues in API documentation"
Our [API documentation](https://sleepecg.readthedocs.io/en/latest/api/classification/) looks very nice except for the following issues:

- The "See Also" section should not be listed in the left TOC
- The "Warnings" section should not be listed in the left TOC

These issues can only be addressed upstream (in griffe and python-handler repos) by adding support for "See Also", "Warnings", "Notes", an